<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Blog Application</title>
    <link href="~/Content/StyleLayout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<a id="top"></a>
<div id="wrapper">
    <div id="header"><img src="~/img/header-banner.jpg" alt="Header" height="100%" width="100%"/> </div>
    <div class="main-container">
        <div class="container">@RenderBody()</div><!--
        -->
        <div id="nav">
            <a href="~/ArticlesManagement/Admin" class="button-poll button-poll-background">Adtministration</a>
            @using (Html.BeginForm("Index", "Home"))
    {
        <button id="button-main" class="button button-background">Main page</button>
}
            @using (Html.BeginForm("Index", "Comments", FormMethod.Get))
    {
        <button id="button-visitors" class="button button-background">Visitor's Blog</button>
}
            @using (Html.BeginForm("Index", "Poll", FormMethod.Get))
    {
        <button id="button-poll" class="button button-background">Opinion poll</button>
}
            @RenderSection("Poll", false)
        </div>

    </div>
    <footer>
        <p id="footer">Juan Pablo Martínez Bastida &copy <a href="#top">Back to top</a></p>
    </footer>
</div>
</body>
</html>