/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-type: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    height: 10em;
    background-color: white;
    width: 100%;
    margin: 0;
}

#nav {
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid;
    background-color: #008080;
    width: calc(30% - 25px);
    height: 100%;
    padding: 8px;
    text-align: center;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: inline-block;
    height: 100%;
    width: calc(70% - 10px);
    background-color: white;
    text-align: justify;
    padding: 5px;
    margin: 0;
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

#create-article {
    display: inline-block;
    margin-top: 40px;
}

.poll {
    margin-top: 5px;
    display: inline-block;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid;
    background-color: whitesmoke;
    width: 90%;
    height: 100%;
    padding: 8px;
    text-align: center;
}

.fade-out{
    position:relative;
    top: -50px;
    bottom:0;
    height:50px;
    width:100%;
    background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) );
    background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}


h1 {
    color: black;
    font-family: verdana;
    font-size: 200%;
}

h3 {
    color: black;
    font-family: verdana;
    font-size: 120%;
}

p {
    color: black;
    font-family: courier;
    font-size: 100%;
}

.link {
    text-align: center;
    font-family: verdana;
    font-size: 100%;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 90%
}

.button-background {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-background:hover {
    background-color: #008CBA;
    color: white;
}

.button-more {
    display: inline-block;
    position: relative;
    top: -20px;
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;         
    -ms-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
    height: auto;
}

.button-background-more {
    background-color:darkcyan; 
    color: white; 
    border: 2px solid black;
}

.button-background-more:hover {
    background-color: red;
    color: white;
}

.button-poll {
    display: inline-block;
    border: none;
    color: black;
    padding: 10px 10px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
    height: auto;
}

.button-poll-background {
    background-color: lightblue;
    color: black;
}

.button-poll-background:hover {
    background-color: lightseagreen;
    color: black;
}

#footer {
    padding-left: 10%;
    margin-bottom: 25px;
}

#message {
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
}

.comment-section {
    margin-top: 15px;
}

.comment {
    font-size: 1.1em;
}

.author {
    font-size: 1.2em;
    font-weight: bold;
}

#author {
    margin-bottom: 20px;
    font-size: 1em;
}

.time {
    font-size: 0.9em;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.list-item {
    list-style-type: none;
    padding-left: 30%;
}

#header-poll {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px
}

#genre {
    font-size: 1.1em;
    margin-bottom: 10px
}

#age {
    font-size: 1.1em;
    margin-bottom: 10px
}

#music-genre {
    font-size: 1.1em;
    margin-bottom: 10px
}

#music-section {
    font-size: 1.1em;
    margin-bottom: 10px
}

#additional-content {
    font-size: 1.1em;
    margin-bottom: 10px
}

#additiona-content-section {
    font-size: 1.1em;
    margin-bottom: 10px
}

#opinion {
    font-size: 1.1em;
    margin-bottom: 10px
}

#Comment {
    width: 100%;
}

#submit-button {
    height: 30px;
    font-size: 16px;
}

.hashtag-item {
    position: relative;
    border: none;
    color: lightgrey;
    padding: 5px 5px;
    border-radius: 15px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 90%
}

.hashtag-item {
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
}

.hashtag-item:hover {
    background-color: whitesmoke;
    color: white;
}

#poll-state {
    display: block;
    text-align: left;
}

.choices-container {
    display: block;
    text-align: center;
    position: center;
    align-content: center;
    width: auto;
}

.choices {
    display: inline-block;
    text-align: left;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin: 0 auto;
}

.choices-tags {
    display:inline-grid;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin: 0 auto;
}

.choices-results {
    display: inline-grid;
    text-align: right;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin: 0 auto;
}

.poll-results {
    margin-top: 5px;
    display: inline-block;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid;
    background-color: whitesmoke;
    width: 90%;
    height: 100%;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

#submit-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
}

.form-control:-moz-placeholder {
    color: #999999;
}

.form-control::-moz-placeholder {
    color: #999999;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control {
    display: block;
    width: 30%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    text-align: left;
    margin: 0 auto;
}

.form-control-create {
    display: block;
    width: 30%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    text-align: left;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px #000000, 0 0 8px #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control-create:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px #000000, 0 0 8px #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
}

.form-control-create[disabled],
.form-control-create[readonly],
fieldset[disabled] .form-control-create {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.form-control {
    height: auto;
}

#bnt-create {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}

#ArticleBody {
    width: 500px;
    height: 400px;
}

.text-danger {
    color: red;
}

.control-label {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#article-body {
    display: block;
    width: 100%;
    height: 60px;
}

.btn-login {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#loginForm {
    text-align: center;
    position: center;
    align-content: center;
}
.form-group-create {
    display: block;
    position: center;
    align-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}

.col-md-10-create {
    display: block;
    align-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}

.form-group {
    display: block;
    position: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.col-md-10 {
    display: block;
    position: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.text-title {
    font-size: 26px;
}

.button-return-main {
    display: inline;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
}

.nav > li {
    position: relative;
    display: block;
}

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

        .nav > li > a:hover,
        .nav > li > a:focus {
            text-decoration: none;
            background-color: #eeeeee;
        }

    .nav > li.disabled > a {
        color: #999999;
    }

        .nav > li.disabled > a:hover,
        .nav > li.disabled > a:focus {
            color: #999999;
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
        }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #428bca;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    display: block;

    max-width: none;

}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

        .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.428571429;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }

            .nav-tabs > li > a:hover {
                border-color: #eeeeee #eeeeee #dddddd;
            }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-bottom-color: transparent;
        }

    .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0;
    }

        .nav-tabs.nav-justified > li {
            float: none;
        }

            .nav-tabs.nav-justified > li > a {
                text-align: center;
            }

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-bottom: 1px solid #dddddd;
}

.nav-tabs.nav-justified > .active > a {
    border-bottom-color: #ffffff;
}

.nav-pills > li {
    float: left;
}

    .nav-pills > li > a {
        border-radius: 5px;
    }

    .nav-pills > li + li {
        margin-left: 2px;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }

.nav-stacked > li {
    float: none;
}

    .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0;
    }

.nav-justified {
    width: 100%;
}

    .nav-justified > li {
        float: none;
    }

        .nav-justified > li > a {
            text-align: center;
        }

@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
}

.nav-tabs-justified {
    border-bottom: 0;
}

    .nav-tabs-justified > li > a {
        margin-right: 0;
        border-bottom: 1px solid #dddddd;
    }

    .nav-tabs-justified > .active > a {
        border-bottom-color: #ffffff;
    }

.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}

.tabbable:after {
    clear: both;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}

.tabbable:after {
    clear: both;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.nav .caret {
    border-top-color: #428bca;
    border-bottom-color: #428bca;
}

.nav a:hover .caret {
    border-top-color: #2a6496;
    border-bottom-color: #2a6496;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

    .navbar:before,
    .navbar:after {
        display: table;
        content: " ";
    }

    .navbar:after {
        clear: both;
    }

    .navbar:before,
    .navbar:after {
        display: table;
        content: " ";
    }

    .navbar:after {
        clear: both;
    }

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " ";
}

.navbar-header:after {
    clear: both;
}

.navbar-header:before,
.navbar-header:after {
    display: table;
    content: " ";
}

.navbar-header:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
    .navbar-collapse:after {
        display: table;
        content: " ";
    }

    .navbar-collapse:after {
        clear: both;
    }

    .navbar-collapse:before,
    .navbar-collapse:after {
        display: table;
        content: " ";
    }

    .navbar-collapse:after {
        clear: both;
    }

    .navbar-collapse.in {
        overflow-y: auto;
    }

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        .navbar-collapse.in {
            overflow-y: visible;
        }

        .navbar-collapse .navbar-nav.navbar-left:first-child {
            margin-left: -15px;
        }

        .navbar-collapse .navbar-nav.navbar-right:last-child {
            margin-right: -15px;
        }

        .navbar-collapse .navbar-text:last-child {
            margin-right: 0;
        }
}

.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    z-index: 1030;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }

        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }

            .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-nav .open .dropdown-menu > li > a:focus {
                background-image: none;
            }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li {
            float: left;
        }

            .navbar-nav > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

        .navbar-form .radio input[type="radio"],
        .navbar-form .checkbox input[type="checkbox"] {
            float: none;
            margin-left: 0;
        }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-nav.pull-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-text {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-brand {
        color: #777777;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #777777;
    }

    .navbar-default .navbar-nav > li > a {
        color: #777777;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #333333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #dddddd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #cccccc;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e6e6e6;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333333;
        border-bottom-color: #333333;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

        .navbar-default .navbar-nav > .open > a .caret,
        .navbar-default .navbar-nav > .open > a:hover .caret,
        .navbar-default .navbar-nav > .open > a:focus .caret {
            border-top-color: #555555;
            border-bottom-color: #555555;
        }

    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777777;
        border-bottom-color: #777777;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777777;
}

    .navbar-default .navbar-link:hover {
        color: #333333;
    }

.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}

    .navbar-inverse .navbar-brand {
        color: #999999;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-text {
        color: #999999;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #999999;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .disabled > a,
    .navbar-inverse .navbar-nav > .disabled > a:hover,
    .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333333;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #333333;
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #999999;
        border-bottom-color: #999999;
    }

    .navbar-inverse .navbar-nav > .open > a .caret,
    .navbar-inverse .navbar-nav > .open > a:hover .caret,
    .navbar-inverse .navbar-nav > .open > a:focus .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999999;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #999999;
}

    .navbar-inverse .navbar-link:hover {
        color: #ffffff;
    }

.label-text {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#commands-tags {
    display: block;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 7px;
}

.body-text {
    display: block;
}

