@helper MakeListItems(object obj)
    {
        var isEmpty = true;
        <ul>
            @foreach (var item in obj.GetType().GetProperties())
            {
                if(item.PropertyType == typeof(bool))
                {
                    if((bool) item.GetValue(obj, null))
                    {
                        <li class="list-item">
                            <spam> @item.Name </spam>
                        </li>
                        isEmpty = false;
                    }
                }
            }
        </ul>
        if (isEmpty)
        {
            <span class="list-item">Nothing to show.</span><br />
        }
}