@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Blog.Entities.Contents

@helper MakeListItems(object obj)
    {

        var isEmpty = true;
        <ul class="make-list">
            @foreach (var item in obj.GetType().GetProperties())
            {
                if(item.PropertyType == typeof(bool))
                {
                    if((bool) item.GetValue(obj, null))
                    {
                        <li class="list-item">
                            <spam class="item" > @item.Name </spam>
                        </li>
                        isEmpty = false;
                    }
                }
            }
        </ul>
        if (isEmpty)
        {
            <span class="list-item">Nothing to show.</span><br />
        }
}