@model Blog.Entities.Polls.ViewModels.PollViewModel

@{
    ViewBag.Title = "My Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review your poll</h2>
<div>
    @using (Html.BeginForm("Index", "Poll", FormMethod.Get, new { data_validatable = true }))
    {
        <div id="submit-button">
            <input id="submit-button" type="submit" class="button-poll button-poll-background" value="Back"/><br/>
        </div>
    }
</div>

<div id="polls">
    @if (Model.PollItems != null)
    {
        foreach (var poll in Model.PollItems.OrderByDescending(e => e.Id))
        {
            <section>
                <hr/>
                <span>
                    Gender:
                    @if (poll.Genre == true)
                    {
                        <span>Male</span>
                    }
                    else
                    {
                        <span>Female</span>
                    }
                </span><br/>
                <span class="comment">Age: @poll.Age</span><br/>
                <span>
                    Preffered music genre: <br/>
                    @MyHelpers.MakeListItems(poll.MusicGenres)
                </span><br/>
                <span>
                    Content desires:<br/> @MyHelpers.MakeListItems(poll.Content)
                </span>
                <span>
                    <strong>Comment:</strong><br/>
                    @poll.Proposals<br/>
                </span>
                <hr/>
            </section>
        }
    }
</div>
